.poper {
    position: fixed;
    z-index: 99;
    left: 50%;
    top: 50%;
    width: 90%;
    height: 90%;
    max-width: 1000px;
    transform: translate(-50%, -50%);
    overflow-y: visible;
    background-color: white;
}

.inner {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.mask {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
}
